#!/bin/sh
export GTK_IM_MODULE=fcitx5
export QT_IM_MODULE=fcitx5
export XMODIFIERS=@im=fcitx5
export EDITOR="nvim"
export TERMINAL="st"
export BROWSER="firefox"
export PATH="$PATH:$HOME/.local/bin"
export TERM="xterm-256color"

setxkbmap -option ctrl:nocaps &
xmodmap -e "keycode 37=" &
xset r rate 300 50 &

fcitx5 -d

pkill xfce-polkit
xfce-polkit &

pkill sxhkd
sxhkd &

/usr/bin/start-pulseaudio-x11

/home/hexyoungs/.config/scripts/pegas_autostart > /dev/null 2<&1 &
/home/hexyoungs/.config/scripts/bg_autostart &

kill $(pgrep -f bar)
/home/hexyoungs/.config/scripts/bar.sh > /dev/null 2<&1 &

xset +fp /home/hexyoungs/.fonts
xset fp rehash


